@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --title: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.benefits--hidden,
.portfolio--hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__color {
  color: var(--accent-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__color-footer {
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero__btn {
  color: var(--title);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin: auto;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-svg {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover .modal__close-svg, .modal__btn-close:focus .modal__close-svg {
  fill: var(--accent-color);
  outline: 0;
}

.modal__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--title);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  width: 200px;
  height: 50px;
  display: block;
  margin: auto;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  background: #188ce8;
}

.portfolio__button {
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-form__btn {
  margin-left: 12px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  color: var(--title);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #188ce8;
}

.footer-form__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(360deg);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal__container {
  position: relative;
  margin-bottom: 10px;
}

.modal__label span {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__label--retreat {
  display: block;
  margin-bottom: 20px;
} /*-відступ текстареа-*/
.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: currentColor;
  padding-left: 42px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__svg, .modal__input:focus + .modal__svg {
  fill: var(--accent-color);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: currentColor;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:hover, .modal__textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.terms__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.terms__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.terms__checkbox:checked + .terms__icon {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.terms__text {
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.terms__link {
  margin-left: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: underline;
  color: #2196f3;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--title);
}

.socials__icon {
  fill: currentColor;
}

.footer-socials-retreat {
  margin-left: 70px;
  margin-right: auto;
}

.footer-socials__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title);
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-socials__list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.footer-socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-color);
}

.footer-socials__icon {
  fill: currentColor;
}

.header > .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
  position: relative;
}
.nav__link--current::after {
  content: "";
  height: 4px;
  width: 100%;
  margin-top: 28px;
  display: block;
  position: absolute;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail:hover, .contacts__mail:focus {
  color: var(--accent-color);
}

.contacts__tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel:hover, .contacts__tel:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__item {
  margin-right: 50px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.benefits__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__list {
  display: flex;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.7;
}

.section-size {
  padding-top: 0;
}

.developments__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.developments__list {
  display: flex;
  gap: 30px;
}

.developments__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.developments__caption {
  position: absolute;
  color: var(--title);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 90px) / 4);
}

.card__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.card__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.clients__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__address:hover {
  color: var(--accent-color);
}

.footer-contacts__mail,
.footer-contacts__tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__mail:hover, .footer-contacts__mail:focus,
.footer-contacts__tel:hover,
.footer-contacts__tel:focus {
  color: var(--accent-color);
}

.footer-form {
  padding-top: 12px;
}

.footer-form__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title);
  display: block;
  margin-bottom: 20px;
}
.footer-form__title + form {
  display: flex;
}

.footer-form__email {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  color: var(--title);
  padding-left: 16px;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: var(--title);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover .overlay__content {
  transform: translateY(0);
}

.projects__container {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__title {
  color: var(--title-text-color);
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.projects__item {
  background: #ffffff;
  width: calc((100% - 60px) / 3);
}/*# sourceMappingURL=main.css.map */