.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	width: 326px;
	row-gap: 15px;

	margin-bottom: 40px;

	@include mobile {
		max-width: 480px;
	}
	@include tablet {
		flex-wrap: nowrap;
		justify-content: center;

		min-width: 768px;
		width: 575px;

		margin-bottom: 30px;
	}
	@include desktop {
		min-width: 1200px;

		margin-bottom: 50px;
	}
}

.portfolio__item:not(:last-child) {
	margin-right: 8px;
}
