//*----- Кнопка секції герой -----*//

.hero__btn {
	color: var(--title);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.06em;
	display: block;
	margin: auto;
	padding: 10px 32px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: #188ce8;
	}
}

//*----- Кнопка секції герой -----*//

//*----- Кнопка модального вікна -----*//

.modal__btn-close {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;

	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);

	border-radius: 50%;
	cursor: pointer;
}

.modal__close-svg {
	fill: currentColor;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.modal__btn-close:hover &,
	.modal__btn-close:focus & {
		fill: var(--accent-color);
		outline: 0;
	}
}

.modal__btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;

	color: var(--title);

	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;

	width: 200px;
	height: 50px;

	display: block;
	margin: auto;
	cursor: pointer;

	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background: #188ce8;
	}
}

//*----- Кнопка модального вікна -----*//

//*----- Кнопка секції портфоліо -----*//

.portfolio__button {
	background: #f5f4fa;
	border-radius: 4px;
	color: var(--title-text-color);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	border: 0;
	cursor: pointer;
	padding: 6px 22px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
		color: #ffffff;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}

//*----- Кнопка секції портфоліо -----*//

//*----- Кнопка форми у футері -----*//

.footer-form__btn {
	margin-left: 12px;
	padding: 10px 28px;

	background-color: var(--accent-color);
	color: var(--title);
	border-color: transparent;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;

	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: #188ce8;
	}
}

.footer-form__icon {
	fill: currentColor;
}

//*----- Кнопка форми у футері -----*//
