//*-----Логотип в хедері-----*//

.logo {
	font-family: "Raleway", sans-serif;

	font-weight: 700;
	color: #000000;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.header__logo {
	margin-right: 93px;
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo__color {
	color: var(--accent-color);
}
//*-----Логотип в хедері-----*//

//*-----Логотип в футері-----*//

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

.logo__color-footer {
	color: #ffffff;
}

//*-----Логотип в футері-----*//
